<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Actores</h1>
      </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col" style="text-align: center; margin: auto;" *ngFor="let actor of this.actores">
                <div class="card shadow-sm" (click)="SeleccionarActor(actor)">
                    <div class="card-body">
                        <h5>{{actor.nombre}} {{actor.apellido}}</h5>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
