<section class="py-5 text-center container" style="width: 450px;">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Detalles</h1>
      </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col" style="margin: auto; width: 400px;">
                <div class="card shadow-sm" style="width: 400px;" *ngIf="inputSeleccion">
                    <div class="card-body">
                        <h6>{{this.inputSeleccion?.nombre}} {{this.inputSeleccion?.apellido}}</h6>
                        <p>Edad: {{this.inputSeleccion?.edad}}</p>
                        <p>País: {{this.inputSeleccion?.pais}}</p>
                        <p>Email: {{this.inputSeleccion?.email}}</p>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
