<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Detalles</h1>
        <h5 style="text-align: center;">{{this.inputSeleccion?.nombre}}</h5>
        <p>Estreno: {{this.inputSeleccion?.estreno}}</p>
        <p>Tipo: {{this.inputSeleccion?.tipo}}</p>
        <p>Cantidad de público: {{this.inputSeleccion?.cantPublico}}</p>
        <p>Actor: {{this.inputSeleccion?.actor}}</p>
      </div>
    </div>
 </section>
